<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}Accueil{% endblock %}</title>


        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
    {% for msg in app.session.flashBag.get('info') %}
        <li>{{ msg }}</li>
    {% endfor %}


        {% block body %}{% endblock %}
    {% block imageDes %}
    <div class="dice1" style="background-image: url('{{ asset('pictures/dice1.png') }}')"></div>
    <div class="dice2" style="background-image: url('{{ asset('pictures/dice2.png') }}')"></div>
    {% endblock %}

    {% block info %}
    <div class="info">
        Site réalisé à l'aide du framework Symfony
        <img src="{{ asset('pictures/symfonyLogo.png') }}" alt="logo symfony">
    </div>
    {% endblock %}


    </body>
</html>
