<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name=”viewport” content=”width=device-width, initial-scale=1.0">
    <title>{% block title %}Accueil{% endblock %}</title>

    <link rel="stylesheet" href="{{ asset('css/style.css') }}">
    <script src="https://kit.fontawesome.com/cba07a665a.js" crossorigin="anonymous"></script>
    {% block javascript %}
    {% endblock %}
    {{ encore_entry_link_tags('app') }}
    {{ encore_entry_script_tags('app') }}
</head>
<body>


{% block flash %}
    {% for msg in app.session.flashBag.get('info') %}
        <div class="alert">
            {{ msg }}
        </div>
    {% endfor %}
{% endblock %}

{% block body %}



{% endblock %}
{% block imageDes %}
    <div class="wrapperDe1">
    <img srcset="{{ asset('pictures/dice1.png') }} 1800w", sizes="(max-width: 400px) 200px" src = {{ asset('pictures/dice1.png') }}>
    </div>
    <div class="wrapperDe2">
        <img srcset="{{ asset('pictures/dice2.png') }} 2500w", sizes="(max-width: 400px) 200px" src = {{ asset('pictures/dice2.png') }}>
    </div>
{% endblock %}




{% block info %}
    <div class="info">

        <a class="logoLien" href="https://symfony.com/releases/5.4">
        <i class="fab fa-symfony fa-3x"></i></a>
        <a class="logoLien" href="https://www.google.com/">
        <i class="fa fa-github fa-3x"></i></a>
    </div>
{% endblock %}


</body>
</html>
