{% extends "Layouts/base.html.twig" %}

{% block title %}
    Scores
{% endblock %}


{% block body %}
    <div class="container">
        <h1>Meilleurs scores</h1>
        {% if not scores is defined %}
        <p>
            Pas de scores pour le moment.
        </p>
        {% elseif scores is defined %}
        <table class="score-table header">
            <thead>
            <tr>
                <th>Rang</th>
                <th>Pseudo</th>
                <th>Score</th>
            </tr>
            </thead>
        </table>
        <div class="mid">
            <table class="score-table">
                <tbody>
                {% set id = 0 %}
                {% for score in scores %}
                    {% set id = id + 1 %}
                    <tr>
                        <td>{{ id }}</td>
                        <td>{{ score.pseudo }}</td>
                        <td>{{ score.score }}</td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
            {% endif %}
        </div>
        <div class="buttons">
            {% set urlAccueil = path('accueil_index') %}
            <a href="{{ urlAccueil }}">
                <button type="button" class="btn btnScoreAccueil">Retour à l'accueil</button></a>

            {% set urlConnexion = path('score_connexion') %}
            {% if app.session.get('formConnexionVisible') == true %}

                {% if app.session.get('isAuth') == false %}
                    <form action="{{ urlConnexion }}" method="post" class="connexion">
                        <input type="password" name="password" placeholder="Entrer le mot de passe admin..." required>
                        <button type="submit" name="submit" class="btn btnScoreValider">Valider</button>
                    </form>
                {% endif %}
            {% else %}
                {% if app.session.get('isAuth') == false %}
                    <a href="{{ urlConnexion }}">
                        <button type="button" class="btn btnScoreConnexion">Connexion</button></a>
                {% endif %}
            {% endif %}
            {% if app.session.get('isAuth') == true %}
                {% set urlDeconexion = path('score_deconnexion') %}
                <a href="{{ urlDeconexion }}">
                    <button type="button" class="btn btnScoreDeconnexion">Déconnexion</button></a>
                {% set urlVider = path('score_vider') %}
                <a href="{{ urlVider }}">
                    <button type="button" class="btn btnScoreVider">Vider les scores</button></a>

            {% endif %}
        </div>
    </div>
    </div>
{% endblock %}
